<header class="header">
  <div class="header-left">
    <!-- Hamburger Toggle Button -->
    <button class="btn-icon btn-menu" (click)="toggleSidebar()" aria-label="Toggle Menu">
      <svg class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor">
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </button>


    <span class="header-title">StayClub Bookings</span>
  </div>
  
  <div class="header-right">
    <div class="profile-container">
      <div class="profile-avatar">
        <span>TD</span>
      </div>
      <div class="profile-info">
        <span class="profile-name">Team D2V</span>
        <span class="profile-role">Properties Manager</span>
      </div>
    </div>
  </div>
</header>
